tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning==1.6.0rc0
matplotlib
git-python==1.0.3
faiss
streamlit
elasticsearch
pandas
nlp
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
